

#container{ 
    display: flex;
    flex-wrap: wrap;
    background: white;
    width: 50%;
    margin: 16px;
    border: 4px solid aqua;
}

/* it apears that with the container set as it is
and the sub set is it is with width and height being an equal
percent corrosponding to side length
this will work for grid.
should be easy from here out if these principles are true */
.sub{
    display: inline-block;
    width: 25%;
    padding-bottom: 25%;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: rgb(214, 220, 226);
}